.container {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: sans-serif;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  max-width: 100%;
  max-height: 100%;

  :not(:last-child) {
    margin-bottom: 15px;
  }
}

input[type=text], select {
  width: 100%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;

  &:hover,
  &:focus {
    background: #0053ba;
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
}
